body{
    font-family: Helvetica,Arial,Verdana, sans-serif;
}

Header{
    background-color: Black;
    display:flex;
    align-items: flex-end;
    height:75px;
}

.menu-list{
    list-style: none;
    display:flex;
    flex:1;
    justify-content: center;
    gap:40px;
    font-size:32px;
    margin:0px;
}

.list{
    padding: 10px 15px 0px 15px;
    font-weight: 800;
    width:120px;
    text-align: center;
}
.listClicked{
    background-color: white;
    color: Black;
}
.listUnClicked{
    background-color: black;
    color: wHITE;
}
.content{
    display:grid;
    grid-template-columns: repeat(2,calc(16*35px));
    grid-template-rows: repeat(10,calc(9*35px));
    gap:15px;
}

.item{
    border-radius: 15px;
    display:grid;
    border: 10px double white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 4fr;
    background-color: black;
}

.center{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.item img{
    box-sizing: border-box;
    height: 100%;
    justify-self: center;
    overflow: hidden;
}

.item p{
    margin:0;
    padding: 5px;
    color:white;
    justify-self: center;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size:1.1rem
}